*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  
}
.hidden{
    opacity:0;
    transform: translateY(200px);
    transition: all 1.5s ease;
}
.active{
    opacity: 1;
    transform: translateY(0);
}
main{
    height: 100vh;
    width: 100vw;
}


nav{
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/back2.jpg);
    background-position: center;
    background-size: cover;
    /* background-color: #2B2A4C; */
    position: fixed;
    z-index: 1;
    border-bottom: 3.5px solid black;
}
nav .left{
    width: 30vw;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    padding-left: 2rem;
    
    
}
.left span{
    color: chocolate;
}
/* .left:hover h1{
    color: chocolate;
    transition: 0.6s;

}
.left:hover span{
    color: rgb(228, 220, 220);
    transition: 0.6s;

} */

.right{
    width: 70vw;
    height: 80px;

}
.right ul{
    height: 80px;
    width:45vw;
    float: right;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.right ul li{
    list-style: none;
   font-style: italic;
}
.right ul li a{
    height: max-content;
    width: max-content;
    padding: 15px 15px 15px 15px;
    background-color: black;
    border-radius:20px;
    text-decoration: none;
    font-family: sans-serif;
  color: rgb(244, 241, 241);  
    font-size: 18px;
    font-weight: bold;
    
}
.hero{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: #2B2A4C; */
    background-image: url(images/back2.jpg);
    border-bottom: 3.5px solid black;
box-shadow: 2px 6px rgb(8, 0, 43);
    background-position: center;
    background-size: cover;
}
.text{
    height: 70vh;
    width: 45vw;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text h1{
    color: rgb(197, 132, 19);
    font-size: 4.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text h2{
    font-size: 3rem;

}
.text h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2rem;
    font-weight: 200;
    word-spacing:0.6rem;
}
.text span{
    font-weight: bold;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.1rem;
    margin-left: 1.5rem;
}
.pic{
   height: 70vh;
   width: 30vw;
   display: flex;
   justify-content: center;
   align-items: center;
}
.pic img{
       width: 20rem;
       height: 22rem;
}
.btn{
    height: 40px;
    width: 130px;
    border-radius: 6px;
    background-color: rgb(221, 119, 9);
    /* color: rgb(235, 228, 228); */
    font-weight: 600;
    font-size: 18px;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn img{
    height: 30px;
    /* width: 30px; */
}
.right ul li a:hover{
  color: gray;  
  transition: 0.25s;
  /* background-color: #2B2A4C; */
  /* border-bottom: 3.5px solid rgb(0, 0, 0); */
  background-image: url(images/back2.jpg);
  background-position: center;
  background-size: cover;
}
.btn:hover{
    width: 140px;
    font-size: 19px;
    background-color: rgb(186, 90, 17);
    transition: 0.4s;
}

/* PROJECT SECTION */

.projects_Section{
    height: max-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* background-color: #2B2A4C; */
    background-image: url(images/back2.jpg);
    border-bottom: 3.5px solid black;

    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    padding:4rem 0rem 4rem 0rem ;
    
}
/* .proj_container{
    height: 450px;
    width: 100vw;
    border: 1px solid black;
    /* display: flex; */

    .projects_Section h1{
        /* width: max-content;
        height: max-content; */
        /* padding: 4px 14px 4px 14px; */
        /* background-color: chocolate; */
        margin: auto;
        font-family: sans-serif;
        /* border-radius: 30px; */
        font-size: 2.5rem;
        letter-spacing:0.6rem;
       color: white;
        /* transform: rotateZ(4deg); */

    }

.project1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
}
.project1 p{
    background-color: black;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    width: 350px;
    word-spacing:3px;
    line-height:48px;
}
.proj_Details{
    width: 30vw;
    height: 500px;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight:100;
    color: rgb(173, 168, 168);
    

}
.proj_Details h3{
    width: max-content;
    height: max-content;
    padding: 10px 10px 10px 10px;
    /* background-color: rgb(0, 0, 0); */
    border-radius: 20px;
    color:chocolate; 
    margin-bottom: 10px;
    text-decoration: underline;
}
.proj_Pic{
    width: 60vw;
    height: 400px;
    background-image: url( /images/CFC.png);
    background-position: center;
    background-size: cover;
    /* border: 5px solid orange; */
}
.proj_Pic2{
    width: 60vw;
    height: 400px;
    background-image: url(/images/AVS_page.png);
    background-position: center;
    background-size: cover;
    /* border: 5px solid orange; */
}

.proj_Pic img,.proj_Pic2 img{
    width: 60vw;
    height: 500px;
}
.visit{
    height: 32px;
    width: 125px;
    font-size: 20px;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    background-color: chocolate;
    margin-top: 20px;
    color: white;
}
.visit:hover{
    background-color: rgb(151, 68, 9);
    transition: 0.6s;
    font-size: 20.1px;

    height: 32px;
    width: 132px;
}
.btnP{
    width: 20vw;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.btnP1{
    height: 30px;
    width: 100px;
    border: 2px solid black;
    border-radius: 6px;
    padding: 3px 3px 3px 3px;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    color: rgb(5, 5, 5);
}
.visit{
    height: max-content;
    width: 100px;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    margin-bottom: 0.5rem;
}
.visit img{
    height: 12px;
    width: 12px;
}
.GetInTouch{
    height: 100vh;
    width: 100vw;
    /* background-color: #2B2A4C; */
    background-image: url(images/back2.jpg);
    background-position: center;
    border-bottom: 3.5px solid black;

    background-size: cover;
    /* border-top: 4px solid #000; */
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 2rem;
}
#arrow{
    margin-left: 4rem;
}
.GetInTouch h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.6rem;
}

.social_media,.form{
    width: 45vw;
    height: 100vh;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#formm{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
align-items: center;}

.form h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
}
.form input{
    height: 40px;
    width: 300px;
    outline: none;
    text-align: center;
    border: none;
    border-radius: 7px;
}
#Message{
    height: 100px;
}
.form button{
    height: 38px;
    width: 140px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(19, 103, 6) , rgb(5, 117, 61));

    color: white;
    font-weight: bold;
    font-size: 19px;

}
.form button:hover{
    width: 145px;
    background-image: linear-gradient(to right, red , yellow);

    transition: all 0.6s ease;

}
.box1,.box2,.box3{
               height: 150px;
               width: 300px;
               border: 1px solid black;
               border-radius:25px;
               color: white;
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: space-around;
               font-size: 18px;
               background-color: black;
}
.box1 pre{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.social_media button{
    width: max-content;   
    height:30px;
    border: none;
    outline: none;
    padding: 10px 10px 10px 10px;
    background-color: rgb(37, 2, 194);
    color: white;
    font-weight: bold;
    border-radius: 20px;
}
.social_media button:hover{
    font-size: 14px;
    transition: 0.65s;
    color: black;
    background-color:rgb(243, 247, 249);
   
}
.box1 img{
    height: 35px;
    width: 35px;
}
.link img{
    height: 30px;
    width: 30px;
}

.IGL{
    height: 100px;
    width: 100vw;
    /* background-color: #2B2A4C; */
    /* background-image: url(images/back2.jpg);
    border-bottom: 3.5px solid black;
    background-position: center; */
    background-color: black;
    /* background-size: cover; */
    display: flex;
    justify-content: center;
    /* justify-content: end; */
    /* padding-right: 8rem; */
    align-items: center;
    padding-top: 1.1rem;
}
.l1{
    height: 80px;
    width: 80px;

    
}
.l1 img{
    height: 40px;
    width: 40px;
}
.l1 img:hover{
    height: 45px;
    width: 45px;
    transition: 0.4s;
}
.about{
    height: 650px;
    width: 100vw;
    /* background-color: #f3f3f6; */
    /* background-color: #2B2A4C; */
    /* border-top: 4px solid white; */
    background-image: url(images/back2.jpg);
    border-bottom: 3.5px solid black;

    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding-left: 10rem;
    padding-right: 10rem;
}
.about h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1rem;
    font-size: 36px;
    color: white;
    
}
.about_text{
    width: 50vw;
    height:500px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about_text h3{
    font-size: 29px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: chocolate;
    
}
.about_text p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 30vw;
    /* text-align: center; */
    font-size: 25px;
    word-spacing: 3px;
    padding-top: 2rem;
    color: rgb(185, 179, 179);
    background-color: black;
    padding: 20px 20px 20px 20px;
    border-radius: 7px;
    margin-top: 2rem;

    
}
.about_vd{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url(images/live.gif);
    background-size: cover;
    background-position: center;
}
footer{
    height: 50px;
    width: 100vw;
    /* background-color: #2B2A4C; */
    border-top: 1px solid #d8d3d3;
    color: white;
    font-size: 16px;
    /* background-image: url(images/back2.jpg);
    background-position: center;
    background-size: cover; */
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RESPONSIVE */
@media screen and (max-width: 512px){
.right ul{
    display: none;
}
.left{
    font-size: 15px;
}

.hero .text{
    width: 50vw;
    height:200px;

}
.hero .text span{
    font-size: 20px;
}
.hero .text h2{
    font-size: 25px;
}
.hero .text h3{
    font-size: 15px;
    margin-bottom: 3rem;
}
.hero .text h1{
    font-size: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.hero .pic{
    width: 30vw;
    height: max-content;
    padding-bottom: 7rem;
}
.hero .pic img{
     height: 130px;
     width: 130px;
}
.hero .btn{
            height:30px;
            width:100px;
            padding: 5px 8px 8px 5px;
            font-size: 13px;
            border-radius: 7px;
            margin: auto;
            /* margin-left: 7rem; */
}
.projects_Section{
    text-align: center;
    /* background-color: rgb(0, 0, 0); */
}
.projects_Section h1{
    font-size: 27px;
    border-radius: 5px;
    padding: 8px 8px 8px 8px;
    margin-top: 2rem;
}
.project1{
    flex-direction: column;
    width: 100vw;
    height: 500px;
    margin-top: 0.5rem;
}
.proj_Details{
    width: 100vw;
    font-size: 15px;
    border: 1px solid transparent;
}
.proj_Pic,.proj_Pic2{
    width: 80vw;
    height: 200px;
    margin: auto;
}
.proj_Details h3{
    font-size: 17px;
    padding-left: 7px 7px 7px 7px;
    border-radius: 8px;
    text-decoration: underline;
    
}
.GetInTouch{
    flex-direction: column;
    height: max-content;
    text-align: center;
    padding-top: 2rem;
}
.GetInTouch h1{
font-size: 28px;
}
#arrow{
    margin-right: 4rem;
    height: 40px;
    width: 40px;
}
.box1,.box2,.box3{
    font-size: 16px;
}
.IGL{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-left: 3.0rem;
}
.about{
    flex-direction: column;
    height: 820px;
    
}
.about_text{
    width:100vw;
}
.about h1{
    font-size: 30px;
}
.about_text h3{
    font-size: 26px;
}
.about_text p{
    width: 90vw;
    font-size: 22px;
}
.about_vd{
    height: 200px;
    width: 200px;
}
footer{
    font-size: 13px;
}

}